* {
  user-select: none;
  box-sizing: border-box;
  cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAA3QAAAN0BcFOiBwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAHGSURBVFiFzZexagJBEIa/vcAJgRRiwqEErC18hRS+gOQB8hxW1/sE9oK1wdImRfAd7EPAIkJAiWARJsXOJutxnpfI3WVgG29mvn9n191ZIyLkMWNMDegBfaADNHUArHQsgRnwJCL7XIlFJHMAETACNoAkxlpH8veNxkQn82eAQyAGtpr0A5gCD0AbCBO+bf02VV/R2Nj3zSVAZ73QJDtgCNRPzcaLr2vMTnMsjlUjLbgLvGjgM9DKC07J1dIcojm7mQJ05g4+zirdL0SEmsuJiFIFqKMr+/hccIoQJ2JxsH88h9gr+9kzP1IJtxzxgQAt/VY3zZ/XPOee2Ckr8gWMVNmwKLgnYqiskYhggBrwBlwAtyLyToFmjKkDr8AncBNgj9crYF40HEAZc2X2AuzZDvBYNNwzx+oH2IsF7A4tyxyrE3B4o5VljtU02L/EXkSuSxSAMWYN1IIyoWkWYMvRMMaEZUGV1QBWTgD87IUy7HvfBdg2CuCuRAGOtQywPRzAfYkCHGtW/VEstnudAJfAoEi42kBZExHZ/4/ruPKGxHOoriXzlqKaptQLqK4tT1SimodJonTVPM1SqlHY49Qo5KQV9Tz/ArIx6+mf/A/6AAAAAElFTkSuQmCC') 16 16, auto;
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: "Permanent Marker", cursive;
}

#tools {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.complex-tool {
  position: relative;
}

.tool {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 3rem;
  height: 3rem;

  background: #ffffff;
  margin-top: 0.5rem;
  border: 3px solid #eee;
  border-radius: 100%;
}

.tool--size svg,
.tool--swatch svg,
.tool--reset svg {
  transition: transform ease-in-out 0.2s;
}

.tool--reset:hover svg {
  transform: rotate(-360deg);
}

.tool--save svg {
  transform: translateY(-2px);
}

.tool--save:hover {
  transform: translateY(2px);
}

.tool--swatch:hover svg {
  transform: rotate(-360deg);
}

.tool--size:hover svg {
  transform: scale(0.95);
}

/* Swatches & sizes */
.sizes,
.swatches {
  display: none;

  position: absolute;
  top: 0.5rem;
  left: 3.25rem;

  flex-direction: row;
}

.sizes.open,
.swatches.open {
  display: flex;
}

.size,
.swatch {
  width: 2rem;
  height: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.25rem;

  background: #ffffff;
  font-size: 0.75rem;
  border: 3px solid #eee;
  border-radius: 100%;
}

.size.selected {
  border-color: #000000;
}

.swatch--red {
  background: #e76f51;
}

.swatch--green {
  background: #2a9d8f;
}

.swatch--blue {
  background: #264653;
}

.swatch--yellow {
  background: #e9c46a;
}

.swatch--orange {
  background: #f4a261;
}

.swatch--grey {
  background: #b7b7a4;
}

.swatch--black {
  background: #000000;
}
