* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: "Permanent Marker", cursive;
}

#tools {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.complex-tool {
  position: relative;
}

.tool {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 3rem;
  height: 3rem;

  margin-top: 0.5rem;
  border: 3px solid #eee;
  border-radius: 100%;
  cursor: pointer;
}

.tool--size svg,
.tool--swatch svg,
.tool--reset svg {
  transition: transform ease-in-out 0.2s;
}

.tool--reset:hover svg {
  transform: rotate(-360deg);
}

.tool--save svg {
  transform: translateY(-2px);
}

.tool--save:hover {
  transform: translateY(2px);
}

.tool--swatch:hover svg {
  transform: rotate(-360deg);
}

.tool--size:hover svg {
  transform: scale(0.95);
}

/* Swatches & sizes */
.sizes,
.swatches {
  display: none;

  position: absolute;
  top: 0.5rem;
  left: 3.25rem;

  flex-direction: row;
}

.sizes.open,
.swatches.open {
  display: flex;
}

.size,
.swatch {
  width: 2rem;
  height: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.25rem;

  font-size: 0.75rem;
  border: 3px solid #eee;
  border-radius: 100%;
  cursor: pointer;
}

.size.selected {
  border-color: #000000;
}

.swatch--red {
  background: #e76f51;
}

.swatch--green {
  background: #2a9d8f;
}

.swatch--blue {
  background: #264653;
}

.swatch--yellow {
  background: #e9c46a;
}

.swatch--orange {
  background: #f4a261;
}

.swatch--grey {
  background: #b7b7a4;
}

.swatch--black {
  background: #000000;
}
