* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

#tools {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.tool {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 3rem;
  height: 3rem;

  margin-top: 0.5rem;
  border: 3px solid #eee;
  border-radius: 100%;
  cursor: pointer;
}

.tool--reset svg {
  transition: transform ease-in-out 0.2s;
}

.tool--reset:hover svg {
  transform: rotate(-360deg);
}

.tool--save svg {
  transform: translateY(-2px)
}

.tool--save:hover {
  transform: translateY(2px)
}
